div {
  width: 400px;
  border-left-width: 5px;
  border-left-style: solid;
  background-color: #eee;
  outline: 10px solid #eee;
  padding: 10px;
  margin: 25px;
}

.note1{
  border-left-color: red;
}

.note2{
  visibility: hidden;
}

.note3{
  border-left-color: green;
}