div {
  width: 400px;
  height: 400px;
  background-image: url(image.png);
  margin: 20px;
  background-color: #eeeeee;
  color: white;
}

.assign-2-shape-1 {
  background-repeat: no-repeat;
}

.assign-2-shape-2 {
  background-repeat: repeat-y;
  background-position: right;
}

.assign-2-shape-3 {
  background-repeat: repeat-x;
  background-position: bottom;
}

.assign-2-shape-4 {
  /* this is the default we didn't need to do that  */
  background-repeat: repeat;
}