div{
  width: 400px;
  padding: 30px;
  margin: auto;
  background-color: #d4d4d4;
  position: relative;
}

div::first-letter{
  content: "";
  font-size: larger;
  color: white;
  padding: 10px;
  background-color: #ff0000;
  position: absolute;
  margin-left: -45px;
  margin-right: 15px;
}